<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>TOPJAVA</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/beans.xml</param-value>
    </context-param>
    <!--<listener>
        <listener-class>org.springframework.</listener-class>
    </listener>-->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IsModelUpdatingFilter</filter-name>
        <url-pattern></url-pattern>
    </filter-mapping>

    <resource-ref>
        <description>MySQL Datasource example</description>
        <res-ref-name>jdbc/topjava</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <resource-ref>
        <description>repository</description>
        <res-ref-name>userRepository</res-ref-name>
        <res-type>ru.headrich.topjava.repository.JPA.UserRepositoryImpl</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>service</description>
        <res-ref-name>userService</res-ref-name>
        <res-type>ru.headrich.topjava.service.UserServiceImpl</res-type>
        <res-auth>Container</res-auth>
<!--<injection-target>
    <injection-target-class></injection-target-class>
    <injection-target-name>Tomcat dont support this EE DI feature</injection-target-name>
</injection-target>-->
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>testik</description>
        <res-ref-name>testResourceBean</res-ref-name>
        <res-type>ru.headrich.topjava.TestResourceBean</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <resource-ref>
        <description>testikSubResource</description>
        <res-ref-name>testDependResourceBean</res-ref-name>
        <res-type>ru.headrich.topjava.TestDependResourceBean</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>


    <!-- В общем соль в том что корень директория -webapp. В ней и лежит фалй сервлета index.
        Web-inf для метаинформации о веб -приложении, потому там файл web.xml. -->
    <!--<servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>ru.headrich.topjava.web.servlets.HomeServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>-->

    <!--  <servlet>
         <servlet-name>Users</servlet-name>
         <servlet-class>ru.headrich.topjava.web.servlets.Users</servlet-class>
     </servlet>
     <servlet-mapping>
         <servlet-name>Users</servlet-name>
         <url-pattern>/users</url-pattern>
     </servlet-mapping>

    <servlet>
         <servlet-name>UserMeals</servlet-name>
         <servlet-class>ru.headrich.topjava.web.servlets.UserMeals</servlet-class>
     </servlet>
     <servlet-mapping>
         <servlet-name>UserMeals</servlet-name>
         <url-pattern>/meals</url-pattern>
     </servlet-mapping>-->


    <!-- MVC -->
    <!--  annotated-->
    <!--
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>ru.headrich.topjava.web.mvc.webflow.LoginController</servlet-class>
        <load-on-startup>0</load-on-startup>
        <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>

    </servlet>
    <servlet-mapping>

        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MealsController</servlet-name>
        <servlet-class>ru.headrich.topjava.web.mvc.webflow.MealsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MealsController</servlet-name>
        <url-pattern>/meals</url-pattern>
    </servlet-mapping>


   <servlet>
        <servlet-name>UsersController</servlet-name>
        <servlet-class>ru.headrich.topjava.web.mvc.webflow.UsersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersController</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>-->





</web-app>